$link-color: #ef8d69;
$text-color: #403b33;
$muted-color: #999;
$background-color: #4b4e50;
$transparent-white: rgba(255, 255, 255, 0.8);

@mixin breakpoint($point) {
  @if $point == tablet {
    @media (min-width: 769px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @if $point == widescreen {
    @media (min-width: 1216px) {
      @content;
    }
  }
}
