$primary-color: #78b5a1;
$secondary-color: #d3643b;
$text-color: #403b33;
$muted-color: #868e96;

@mixin breakpoint($point) {
  @if $point == iphone6 {
    @media (max-width: 375px) {
      @content;
    }
  }
  @if $point == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $point == nonmobile {
    @media (min-width: 769px) {
      @content;
    }
  }
}
