
// Colors
$white: #fff;
$primary: #78b5a1;
$secondary: #d3643b;

$body-color: #403b33;

// Fonts
$font-family-sans-serif: "Alegreya Sans", sans-serif;
$headings-font-weight: 400;

// Links
$link-color: $secondary;
$link-hover-decoration: none;

// Navbar
$navbar-dark-color: rgba($white,.8);
$navbar-dark-hover-color: $white;