@import './common.scss';

.front {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.front-name {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  @include breakpoint(sm) {
    font-size: 4em;
  }
  @include breakpoint(md) {
    font-size: 6em;
  }
}

.front-links {
  font-size: 2em;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(sm) {
    font-size: 2em;
    flex-direction: row;
  }
  @include breakpoint(md) {
    font-size: 3em;
  }
}

.front-link {
  margin: 0 0.4em 2px;
  color: $transparent-white;
  &:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 0;
  }
}

.front-icons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.front-icon {
  svg {
    color: $transparent-white;
    width: 40px;
    height: 40px;
    margin: 5px;
    @include breakpoint(md) {
      width: 50px;
      height: 50px;
    }
  }

  svg:hover {
    color: #fff;
  }
}

.front-attribution {
  font-size: 0.75rem;
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: $transparent-white;
  a {
    color: $transparent-white;
  }
  a:hover {
    color: #fff;
  }
}
