@import './common.scss';

.navbar {
  padding: 10px 0;
}

.navbar-inner {
  display: flex;
  padding: 0 20px;
  display: flex;
  align-items: baseline;
}

.navbar-brand {
  font-size: 1.5rem;
  white-space: nowrap;
  margin-right: 10px;
  color: #fff !important;
}

.navbar-link {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 5px;
  color: $transparent-white;
  i {
    margin-right: 5px;
  }
  &.active {
    border-bottom: 1px solid $transparent-white;
  }
  &:hover {
    color: #fff;
    border-color: #fff;
  }
}
