@import './common.scss';

.page-wrapper {
  width: 100vw;
  height: 100vh;

  @include breakpoint(tablet) {
    display: flex;
  }
}

.page-aside {
  height: 240px;
  background-color: $background-color;
  background-image: url(../images/background-1600.jpg);
  background-size: cover;
  background-position: top center;

  @include breakpoint(tablet) {
    height: auto;
    flex: 1 0 38%;
    background-position: center;
    background-image: url(../images/background-2400.jpg);
  }

  @include breakpoint(widescreen) {
    background-image: url(../images/background-4800.jpg);
  }

  @media print {
    display: none;
  }
}

.page-main {
  padding: 20px;
  @include breakpoint(tablet) {
    flex: 1 0 62%;
    overflow: auto;
    padding: 30px;
  }
  h3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.portrait {
  display: block;
  width: 200px;
  height: 200px;
  margin: 30px auto 0;
}
