
// Color palette: http://www.colourlovers.com/palette/625987/dont_you_go_down

@xs: ~"(max-width: 767px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@lg: ~"(min-width: 1200px)";


h1, h2 { margin-top: 30px; }
h2 { text-transform: uppercase; letter-spacing: 1px; color: #78b5a1; font-size: 22px; }

a:hover { text-decoration: none; }

.margin-left { margin-left: 10px; }

.navbar .fa { margin-right: 2px; }

@media @lg {
	.container { width: 970px; }
}

@media @lg, @md {
	.portrait { width: 200px; height: 200px; margin: 30px 0; }
}

@media @sm {
	.portrait { width: 150px; height: 150px; margin: 30px 0; }
}

@media @xs {
	.portrait { display: block; width: 200px; height: 200px; margin: 10px auto; }
}
