@import '../variables.scss';

.navbar {
  display: flex;
  background: $primary-color;
  padding: 10px 0;
  a {
    color: hsla(0, 0%, 100%, 0.8);
  }
  a:hover {
    color: #fff;
  }
}

.navbar-inner {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
}

.navbar-brand {
  flex-grow: 1;
  font-size: 1.5rem;
  white-space: nowrap;
}

.navbar-links {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  a {
    margin-left: 10px;
  }
}
