<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">Joakim Gunst</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="mailto:joakim.gunst@gmail.com">
                        <i class="fa fa-envelope-square"></i> Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://fi.linkedin.com/in/joakimgunst">
                        <i class="fa fa-linkedin-square"></i> LinkedIn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>