
# Disable directory listing
Options -Indexes

# Custom redirects
RedirectMatch 302 /iidajoakim https://adobe.ly/2gKowY2

# Rewrite
RewriteEngine on
RewriteBase /

# Rewrite www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Rewrite everything that doesn't match a file or directory to index.html
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]