
<img class="portrait portrait-xs hidden-print visible-xs" src="images/portrait.png" />
<img class="portrait hidden-print hidden-xs pull-right" src="images/portrait.png" />
<img class="portrait visible-print-block pull-right" src="images/portrait.png" />

<h1>Curriculum vitae</h1>

<p>I'm a user experience designer and software engineer with a passion for designing and developing products that are great for the customer – both valuable and easy to use. I believe that software is primarily a tool for solving people's real-world problems, and that the best way to do this is to combine technical expertise with an iterative process and a user-focused mindset.</p>

<h2>Work experience</h2>

<div>
	<h3>User Experience Designer</h3>
	<h4><a href="http://www.rapal.fi/en/">Rapal Oy</a> <span class="text-muted margin-left">2006 – Present</span></h4>
	<p>I design and prototype products before and during development – working with product management, users, developers and other stakeholders to produce and refine designs that satisfy the needs of the different groups. I also do web front-end development as part of an agile team.</p>
</div>

<h2>Education</h2>

<div>
	<h3>M.Sc. (Tech.)</h3>
	<h4><a href="http://www.aalto.fi/en/">Aalto University</a> <span class="text-muted margin-left">2005 – 2012</span></h4>
	<p>Computer Science and Engineering</p>
</div>