
<div class="row">
	
	<div class="col-sm-3">
		<img class="portrait" src="images/portrait.png" />
	</div>
	
	<div class="col-sm-9">
		<h1>Curriculum vitae</h1>

		<p>
			My name is <b>Joakim Gunst</b> and I'm a user experience designer and front-end developer. 
			My passion is to create products that solve important real-world problems while being delightful and a pleasure to use.
			I believe that a constant focus on end users, technical expertise and an iterative process is the best way to achieve this.
		</p>
		
		<h2>Work experience</h2>
		
		<div>
			<h3>User Experience Designer</h3>
			<h4><a href="http://www.rapal.fi/en/">Rapal Oy</a> <span class="text-muted margin-left">2006 – Present</span></h4>
			<p>
				I have been working full time as a UX designer since I graduated in 2012.
				My work consists of both interaction design and web front-end development in about equal parts.
				As an <b>interaction designer</b>, I create mockups and prototypes and support product management in researching and writing user stories for new functionality. 
				I have arranged dozens of user interviews and usability tests to learn about user needs and test my designs.
				I have also done some amount of visual design, although this is not my speciality.
			</p>
			
			<p>
				As a <b>front-end developer</b>, I am very comfortable with HTML, CSS and JavaScript programming.
				I have been partly or fully responsible for the front end in several web applications, using frameworks such as Angular and Bootstrap to create modern, responsive single-page applications.
				Working as part of a Scrum team, I am very familiar with practices like version control, refactoring, unit testing, code reviews and agile planning.
				Our back-end technology is primarily Microsoft ASP.NET, so I am also somewhat familiar with .NET and C# programming.
			</p>
		</div>
		
		<h2>Education</h2>
		
		<div>
			<h3>Master of Science (Tech.)</h3>
			<h4><a href="http://www.aalto.fi/en/">Aalto University</a> <span class="text-muted margin-left">2005 – 2012</span></h4>
			
			<p>
				My bachelor was in Automation and Systems Technology and my master in Computer Science and Engineering.
				My major was in media technology with a focus on user interfaces and usability.
				I wrote my master's thesis about <a href="files/thesis.pdf">interaction design in agile software development</a>.
				I graduated with distinction and an average grade of 4.07.
			</p>
			
			<p>During my studies, in 2008, I also organized a preparation course for students applying to  Aalto University. My responsibilities included planning, marketing, budgeting, staffing and communications.
		</div>
		
		<h2>Languages</h2>
		
		<ul>
			<li>Swedish – mother tongue</li>
			<li>Finnish – excellent</li>
			<li>English – excellent</li>
		</ul>
		
	</div>
	
</div>
