@import '../variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  color: $text-color;
  line-height: 1.5;
  margin: 0 0 30px;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

a:hover {
  color: darken($secondary-color, 10);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 1px;
  color: $primary-color;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  .year-range {
    color: $muted-color;
    margin-left: 0.5rem;
  }
}

.container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 900px;
}

.portrait {
  display: block;
  width: 200px;
  height: 200px;
  margin: 30px auto 0;
}
